.clock {
	text-align: left;
	border-bottom: 4px solid black;
	height: 100%;
	display: grid;
	align-content: center;
	position: relative;
	> .small-text {
		position: absolute;
		left: 5px;
		top: 5px;
	}
	> .time {
		margin: 0;
		line-height: 1;
		font-size: 140px;
		text-align: center;
		.small-clock {
			font-size: 36px;
			color: #555;
		}
	}
	> .small-date {
		position: absolute;
		right: 5px;
		bottom: 5px;
		width: fit-content;
	}
}
