.floating-button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	color: black;
	border: 4px solid black;
	text-align: center;
	display: grid;
	font-size: 25px;
	place-content: center;
	user-select: none;
}
.battery {
	text-align: center;
	height: 100%;
	display: flex;
	place-content: center;
	align-items: center;
	.battery-icon {
		display: inline-block;
		font-size: 24px;
	}
	.battery-level {
		display: inline-block;
		font-size: 16px;
	}
}
.floating-two {
	right: 50px;
	border-right: none;
}
.floating-three {
	bottom: unset;
	top: 10px;
	right: 90px;
	width: 80px;
	border-right: none;
}