.weather-container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
}
.weather-item {
	position: relative;
}
.weather-icon {
	display: grid;
	place-content: center;
	img {
		margin: 10px auto -10px;
		width: 80%;
		-webkit-filter: drop-shadow(1px 1px 0 black)
		drop-shadow(-1px 1px 0 black)
		drop-shadow(1px -1px 0 black)
		drop-shadow(-1px -1px 0 black);

		filter: drop-shadow(1px 1px 0 black)
		drop-shadow(-1px 1px 0 black)
		drop-shadow(1px -1px 0 black)
		drop-shadow(-1px -1px 0 black);
	}
}
span[class^="temp-"] {
	display: block;
	text-align: center;
	font-size: 1.2rem;
	&:first-child {
		font-size: 1.5rem;
	}
}
.hour {
	position: absolute;
	top: 0px;
	left: 3px;
	font-size: 0.8rem;
	color: #555;
}