<div class="battery">
    <div class="battery-icon">
        <i class="nf {{batteryIcon}}"></i>
    </div>
    <div class="battery-level small-text">
        <span>{{battery}}%</span>
    </div>
</div>

<script>
    const batteryIcon = document.querySelector('.battery-icon');
    const batteryLevel = document.querySelector('.battery-level');
    const updateBattery = async () => {
        const res = await fetch("/api/getBattery");
        const data = await res.json();
        batteryIcon.innerHTML = `<i class="nf ${data.batteryIcon}"></i>`;
        batteryLevel.innerHTML = `<span>&nbsp;${data.battery}%</span>`;
    }

    updateBattery();
    setInterval(updateBattery, 120000);

</script>