<div class="weather-container">
    <!-- for each element in forecast -->
    {{#each forecast}}
        <div class="weather-item">
            <div class="hour">{{this.hour}}</div>
            <div class="weather-icon">
                <img src="/weather-icons/{{this.symbol_code}}.png" alt="{{this.symbol_code}}">
            </div>
            <div class="weather-item__temp">
                <span class="temp-current">
                    {{this.temperature}}°C
                </span>
            </div>
        </div>
    {{/each}}
</div>