<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Kindle Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/global.css" type="text/css">

	{{#> head}}
		{{! -- Custom head content --}}
	{{/head}}
</head>
<body>

{{#> body}}
	{{! -- Custom body content --}}
{{/body}}

</body>
</html>