<div class="main-container">
    <div class="grid-4x2">
        {{> clock}}
    </div>
    {{> block}}
    {{> block}}
    {{> block}}
    {{> block}}
<!--    <div class="grid-2x2">-->
<!--        {{> lights}}-->
<!--    </div>-->
    {{> block}}
    {{> block}}
    {{> block}}
    {{> block}}
    <div class="grid-2x1">
        {{> sunset}}
    </div>
    {{> block}}
    {{> block}}
    <div class="grid-4x1">
        {{> weather}}
    </div>
</div>
{{> floating-buttons}}

<script>
    // refresh the page every hour so that the weather updates
    setTimeout(() => {
        document.location.href = document.location.href;
    }, 1000 * 60 * 60);
</script>
