@import "scss/floating";
@import "scss/clock";
@import "scss/lights";
@import "scss/weather";
@import "scss/sunpath";

body, html {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "FuraMono Nerd Font";
	src: url("/Fura Mono Regular Nerd Font Complete.otf") format("opentype");
}

.main-container {
	user-select: none;
	height: 100%;
	width: 100%;
	background: #fff;
	color: black;
	font-family: 'Open Sans', sans-serif;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);

	// for each in 3x3, make a .grid-IxJ class
	@for $i from 1 through 4 {
		@for $j from 1 through 6 {
			.grid-#{$i}x#{$j} {
				grid-column-end: span $i;
				grid-row-end: span $j;
			}
		}
	}
}

.small-text {
	margin: 0;
	font-size: 24px;
	line-height: 1;
	color: #555;
}

.wrapper {
	position: absolute;
	height: 100vh;
	width: 100vw;
}

.block {
	border: 4px solid black;
}

