.calendar {
	width: 100%;
	height: 100%;

	.events {
		width: 100%;
		height: 50%;

		.title {
			display: block;
			font-size: 1.5rem;
			text-align: center;
			width: max-content;
			margin: auto auto 0.5rem;
			border-bottom: 1px solid #ccc;
		}
	}


	.tomorrow {
		border-top: 1px solid #ccc;
		padding-top: 0.5rem;
	}

	.event {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;

		.event-title {
			margin-left: 1rem;
			position: relative;

			&:before {
				content: '';
				display: block;
				width: 0.5rem;
				height: 0.5rem;
				border-radius: 50%;
				background-color: grey;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: -0.75rem;
			}
		}

		.event-time {
			font-size: 0.8rem;
		}
	}
}