.grid-display {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(8, 1fr);
	width: 100%;
	height: 100%;
}

.grid-block {
	grid-column-end: span 1;
	grid-row-end: span 1;
	border: 2px solid black;
}