{{#> layouts/main }}

	{{#*inline "head"}}
	{{!-- Fontawesome --}}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
			  integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
			  crossorigin="anonymous" referrerpolicy="no-referrer"/>

		<link rel="stylesheet" href="/styles/vertical.css" type="text/css">
		<link rel="stylesheet" href="/styles/grid.css" type="text/css">

		<link rel="stylesheet" href="/styles/clock.css" type="text/css">
		<link rel="stylesheet" href="/styles/controls.css" type="text/css">
		<link rel="stylesheet" href="/styles/battery.css" type="text/css">
		<link rel="stylesheet" href="/styles/weather.css" type="text/css">
		<link rel="stylesheet" href="/styles/weather-icons.min.css" type="text/css">
		<link rel="stylesheet" href="/styles/solar-path.css" type="text/css">
		<link rel="stylesheet" href="/styles/lights.css" type="text/css">

	{{/inline}}

	{{#*inline "body"}}
		<div class="grid-display">
			<div class="grid-6x3">
				{{> partials/clock}}
			</div>
			<div class="grid-4x2">
				{{> partials/solar-path}}
			</div>
			<div class="grid-2x2">
				{{> partials/lights}}
			</div>
			<div class="grid-6x3">
				{{> partials/weather}}
			</div>
		</div>
	{{/inline}}

{{/layouts/main}}

